* {
	margin: 0;
	padding: 0;
}

a,
button {
	all: unset;
}

img {
	display: block;
	border: none;
}

body {
	font-family: 'Lato', sans-serif;
	color: #5D5D5D;
	font-size: 14px;
	font-weight: 300;
}

.nav {
	background-color: #222;
}

.center {
	width: 1140px;
	margin: 0 auto;
}

.text__center {
	text-align: center;
}

.nav__container {
	display: flex;
	justify-content: space-between;
}

.nav__left {
	display: flex;
	align-items: end;
	margin: 18px 0 19px;
}

.nav__right {
	display: flex;
}

.nav__lefticons {
	margin-right: 41px;
}

.nav__lefticons:last-child {
	margin-right: 0;
}

.nav__righticons {
	margin-right: 33px;
}

.nav__righticons:last-child {
	margin-right: 0;
}

.brand {
	background-color: #F1E4E6;
	display: flex;
	align-items: center;
}

.brand__img {
	width: 100%;
}

		.brand__img img {
			width: 100%;
		}

/* Шутка на полчаса гугления (три пикселя под brand.png): <img> — inline элемент по умолчанию. Т.е. грубо говоря,
строка. А у строк есть межстрочное расстояние. Напишите этой картинке стиль display:block и отступ пропадет.*/

/* Обнулил стили <img> наверху, перед тегом <body> */

/* .picture {
	display: block;
} */



.brand__logo {
	width: 100%;
	display: flex;
	padding-left: 62px;
}

.logo__box {
	display: flex;
}

.logo__rectangle {
	width: 12px;
	height: 97%;
	background-color: #F16D7F;
	margin-right: 16px;
}

.logo__header {
	color: #222;
	font-size: 48px;
	font-weight: 900;
	text-transform: uppercase;
}

.logo__subheader {
	font-size: 32px;
	font-weight: 700;
}

.logo__subheader_colored {
	color: #F16D7F;
}

.overview {
	margin-top: 65px;
	margin-bottom: 96px;
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(3, 1fr);
}

.overview:last-child {
	grid-column: span 3;
	height: 10 px;
}

.overview__card {
	padding: 105px 0;
	text-transform: uppercase;
}

.overview__subtitle {
	color: #FFF;
	font-size: 16px;
	font-weight: 400;
}

.overview__title {
	color: #F16D7F;
	font-size: 24px;
	font-weight: 700;
}

.overview__card_01 {
	background: linear-gradient(rgba(33, 22, 22, 0.70), rgba(33, 22, 22, 0.70)), url(../img/overview01.png) no-repeat center / cover;
}

.overview__card_02 {
	background: linear-gradient(rgba(33, 22, 22, 0.70), rgba(33, 22, 22, 0.70)), url(../img/overview02.png) no-repeat center / cover;
}

.overview__card_03 {
	background: linear-gradient(rgba(33, 22, 22, 0.70), rgba(33, 22, 22, 0.70)), url(../img/overview03.png) no-repeat center / cover;
}

.overview__card_04 {
	background: linear-gradient(rgba(33, 22, 22, 0.70), rgba(33, 22, 22, 0.70)), url(../img/overview04.png) no-repeat center / cover;
	grid-column: span 3;
	padding: 65px 0;
}

.goods {
	margin-top: 96px;
}

.goods__header {
	color: #222;
	font-size: 30px;
	font-weight: 400;
}

.goods__subheader {
	color: #9F9F9F;
	font-size: 14px;
	font-weight: 400;
	margin-top: 6px;
	margin-bottom: 48px;
}

.goods__container {
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(3, 1fr);
}

.goods__card {
	background-color: #F8F8F8;

}

.card__image {
	position: absolute;
	margin-bottom: 100px;
}

.card__content {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 16px;
	margin: 24px 29px 20px 16px;
}

.card__header {
	color: #000;
	font-size: 13px;
	font-weight: 400;
}

.card__text {
	color: #5D5D5D;
	font-size: 14px;
	font-weight: 300;
}

.card__price {
	color: #F16D7F;
	font-size: 16px;
	font-weight: 400;
}

.goods__footer {
	display: flex;
	padding-top: 48px;
	padding-bottom: 60px;
	justify-content: center;
}

.goods__button {
	padding: 15px 39px 14px;
	color: #F26376;
	font-size: 16px;
	font-weight: 400;
	border: 1px solid #FF6A6A;
}

@media (max-width: 1024px) {
	.center {
		width: 736px;
		margin: 0 auto;
	}
	
	.nav__container {
		display: flex;
		justify-content: space-between;
		width: 704px;
	}
	
	.brand__img {
		width: 50%;
	}
	

	.brand__logo {
		width: 50%;
		display: flex;
		padding-left: 62px;
	}
	
	.logo__header {
		font-size: 44px;
	}

	.logo__subheader {
		font-size: 24px;
	}

	.logo__rectangle {
		height: 100%;
	}
	
	.overview {
		margin-top: 65px;
		margin-bottom: 96px;
	}
	
	.overview__card {
		padding: 59px 0;
	}
	
	.goods {
		margin-top: 110px;
	}
	
	.goods__subheader {
		margin-top: 3px;
		margin-bottom: 73px;
	}
	
	.goods__container {
		display: grid;
		gap: 16px;
		grid-template-columns: repeat(2, 1fr);
	}
	
	.gradient {
		display: inline-block;
		position: relative;
		line-height: 0;
	}

	.gradient:after {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: rgba(58, 56, 56, 0.86);
	}

	.gradient:before {
		content: "Add to cart";
		display: inline-block;
		/* width: 52px;
		height: 52px; */
		margin: -26px 0 0 -26px;
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 100;
		background: url(https://snipp.ru/img/plus.png) 0 0 no-repeat;
	}
}

/* Rectangle 15 copy */

/* position: absolute;
left: 51.04%;
right: 2.08%;
top: 35.28%;
bottom: 50.6%;

background: rgba(58, 56, 56, 0.86); */

.addToCart {
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	display: block;
	justify-content: center;
	align-items: center;
	align-self: auto;
	background-color: green;
	
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;

	color: #FFFFFF;
	border: 1px solid;
	padding: 11px 16px 9px 14px;
}

.cart__icon {
	margin-right: 11px;
}



/* Это центровка текста и иконки */
/* Вынес в отдельный блок, что-бы не путаться */
.mask {
	display: flex;
	align-items: center;
	justify-content: center;
}

.mask {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .5);
	opacity: 0;
	display: inline-block;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	
	color: #FFFFFF;
	border: 1px solid;
	padding: 11px 16px 9px 14px;
	transition: opacity .4s linear
}

.mask:hover {
	opacity: 1;
}

.cart__link {
	display: flex;
	justify-content: start;
	padding: 11px 14px 9px 16px;
	border: 1px solid #FFFFFF;
}

.supercard {
	background: blue;
	display: flex;
	flex-direction: column;
}

.icon {
	display: inline-block;
	mask-image: url(../img/addToCart.svg);
	mask-size: cover;
	width: 40px;
	height: 40px;
	background: green;
}

.goods__image {
	position: relative;
}

.button__container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	background: rgba(0, 0, 0, .5);
	opacity: .8;
}

.button__container:hover {
	opacity: 1;
}

.card__button {
	display: flex;
	align-items: center;
	padding: 15px;
	border: 2px solid red;
	margin: auto;
}

.card__add {
	color: white;
}